<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
</head>
<body>

 <div th:replace="common/header :: navbar">

 </div>
 <section class="w3l-contact py-5" id="contact">
   <div class="container py-md-5 py-4">
     <div class="title-main text-center mx-auto mb-md-5 mb-4" style="max-width:500px;">
       <h3 class="title-style">LogIn</h3>
     </div>
     <div class="row login-block">
       <div class="col-md-6 login-center">
         <form  th:action="@{/login}" method="post" class="signin-form">
           <div class="col-md-8 login-center input-grids">
             <li class="alert alert-success" role="alert" th:if="${!#strings.isEmpty(errorMessages)}"
                 th:text="${errorMessages}" />
             <input type="text" name="username" id="username" placeholder="Username"
                    class="login-input" />
             <input type="password" name="password" id="password" placeholder="Password"
                    class="login-input" />
             <input type="hidden"  />
           </div>
           <div class="col-md-8 login-center text-start">
             <button class="btn btn-style btn-style-3 text-left">Log In</button>
             <a  class="new-user text-right">New User ?</a>
           </div>
         </form>
       </div>
     </div>
   </div>
 </section>
</body>
</html>